@import './_scss/colors';
@import './_scss/mixins';
@import './_scss/typography';


$backdrop: rgba(color("cyan", "darken-3"), 0.50);

#map {
    height: 400px;
    width: 100%;
}

html, body {
    height: 100%;
}

body {
    @include display-flex;
    @include flex-direction(column);
}

main {
    @include flex(1 0 auto);
}

.brand-logo {
    width: 260px;
    height: 50px;
    margin-top: 3px;

    &.mobile {
        width: 240px;
        height: auto;
    }
}

.button-collapse,
nav .brand-logo,
nav ul a {
    color: color("grey", "darken-4");
}

nav ul a {
    padding: 0 10px;
}

a {
    color: color("cyan", "darken-1");
}

a[href^="tel:"] {
    @include display-flex;
    @include align-items(center);
    color: white;
    text-decoration: none;
}
a[href^="tel:"]:before {
    content: url("/images/phone.png"); // "\260e";
    margin-right: 0.5em;
}

.open-hours {
    @include display-flex;
    @include align-items(center);
}

.open-hours:before {
    content: url("/images/clock.png");
    margin-right: 0.5em;
}

footer {
    .row {
        margin-bottom: 0;
    }
}

.header {
    margin-bottom: 6px;

    & + h2 {
        margin-top: 0;
    }
}

.btn {
    padding: 0 1rem;
}

.valign-bot {
    vertical-align: bottom;
}

.tabs {
    border: solid 1px color("cyan", "darken-1");

    .indicator {
        display: none;
    }

    .active {
        color: white !important;
        background-color: color("cyan", "darken-1");
    }
}

.icon-block {
    padding: 0 20px;
}

.indicator-item {
    background-color: gainsboro !important;

    &.active {
        background-color: dimgray !important;
    }
}

.collapse {
    height: 0;
    width: 0;
    overflow: hidden;
}
table.collapse {
    display: none;
}

.card {
    &.card.small {
        position: relative;
        .card-image + .card-content {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            padding: 15px;
        }
        .card-image {
            max-height: 80%;
        }
        .card-title {
            font-size: 25px !important;
        }
    }
    .card-content {
        .card-title {
            line-height: 30px;
            font-size: 20px;
        }
    }
}

// Flex rules

.flex {
    @include display-flex;
}

.flex-column {
    @include display-flex;
    @include flex-direction(column);
}

.flex-grow {
    @include flex-grow(1);
}

.flex-row {
    @include display-flex;
    @include flex-direction(row);
    @include justify-content(center);
    @include align-items(center);

    &.space-between {
        @include justify-content(space-between);
    }
}

// MEDIA Small Only

@media only screen and (max-width: 601) {
    .center-on-small-only {
        text-align: center;
    }
}

// TERMS
#include-terms {
    ol {
        padding: 0 20px;
    }
}

// HOME

.background {
    background-size: cover;
    background-position: center center;
    background: color("cyan", "darken-3");
}

.background-mask {
    background-size: cover;
    background-position: center center;
    background-color: $backdrop;
}

.clickable {
    cursor: pointer;
}

.opacity-3 {
    opacity: 0.3;
}

// CATALOG

.catalog {

    .carousel {
        margin-bottom: 0;
    }

    .carousel .carousel-item {
        text-align: center;
        width: 350px !important;

        img {
            max-height: 350px !important;
            width: auto;
            height: auto;
        }

        span {
            display: block;
        }
    }

    .logo {
        width: 300px;
        height: auto;
    }

    .resume {
        background-image: url("/images/home/resume.jpg");
        background-size: cover;
        background-position: center center;
        background-color: $backdrop;
        height: 300px;
    }
}

// Swipe animations
@-webkit-keyframes ani-left {
    0% { margin-left: 1px; }
    10% { margin-left: 1.5px;; }
    20% { margin-left: 2px;; }
    30% { margin-left: 2.5px;; }
    40% { margin-left: 3px;; }
    50% { margin-left: 3.5px;; }
    60% { margin-left: 3px; }
    70% { margin-left: 2.5px; }
    80% { margin-left: 2px; }
    90% { margin-left: 1.5px; }
    100% { margin-left: 1px; }
}
@-moz-keyframes ani-left {
    0% { margin-left: 1px; }
    10% { margin-left: 1.5px;; }
    20% { margin-left: 2px;; }
    30% { margin-left: 2.5px;; }
    40% { margin-left: 3px;; }
    50% { margin-left: 3.5px;; }
    60% { margin-left: 3px; }
    70% { margin-left: 2.5px; }
    80% { margin-left: 2px; }
    90% { margin-left: 1.5px; }
    100% { margin-left: 1px; }
}
@keyframes ani-left {
    0% { margin-left: 1px; }
    10% { margin-left: 1.5px;; }
    20% { margin-left: 2px;; }
    30% { margin-left: 2.5px;; }
    40% { margin-left: 3px;; }
    50% { margin-left: 3.5px;; }
    60% { margin-left: 3px; }
    70% { margin-left: 2.5px; }
    80% { margin-left: 2px; }
    90% { margin-left: 1.5px; }
    100% { margin-left: 1px; }
}
.move-left {
    -webkit-animation: ani-left 1s ease-in-out 5;
    -moz-animation: ani-left 1s ease-in-out 5;
    animation: ani-left 1s ease-in-out 5;
}

@-webkit-keyframes ani-right {
    0% { margin-right: 1px; }
    10% { margin-right: 1.5px;; }
    20% { margin-right: 2px;; }
    30% { margin-right: 2.5px;; }
    40% { margin-right: 3px;; }
    50% { margin-right: 3.5px;; }
    60% { margin-right: 3px; }
    70% { margin-right: 2.5px; }
    80% { margin-right: 2px; }
    90% { margin-right: 1.5px; }
    100% { margin-right: 1px; }
}
@-moz-keyframes ani-left {
    0% { margin-right: 1px; }
    10% { margin-right: 1.5px;; }
    20% { margin-right: 2px;; }
    30% { margin-right: 2.5px;; }
    40% { margin-right: 3px;; }
    50% { margin-right: 3.5px;; }
    60% { margin-right: 3px; }
    70% { margin-right: 2.5px; }
    80% { margin-right: 2px; }
    90% { margin-right: 1.5px; }
    100% { margin-right: 1px; }
}
@keyframes ani-right {
    0% { margin-right: 1px; }
    10% { margin-right: 1.5px;; }
    20% { margin-right: 2px;; }
    30% { margin-right: 2.5px;; }
    40% { margin-right: 3px;; }
    50% { margin-right: 3.5px;; }
    60% { margin-right: 3px; }
    70% { margin-right: 2.5px; }
    80% { margin-right: 2px; }
    90% { margin-right: 1.5px; }
    100% { margin-right: 1px; }
}
.move-right {
    -webkit-animation: ani-right 1s ease-in-out 5;
    -moz-animation: ani-right 1s ease-in-out 5;
    animation: ani-right 1s ease-in-out 5;
}