---
layout: default
title: Accessories
titleTag: Accesorios
id: accessories
subset: accessories
permalink: catalogo/accesorios
---

<div class="catalog accessories">

    <div class="section background-mask no-pad-bot white-text">
        <header class="container center">
            <br><br><br>
            <h1 class="header lucemita">
                {{site.accessories.title}}
            </h1>
            <h2 class="light">{{site.accessories.subtitle}}</h2>
            <br><br>
        </header>
    </div>

    <div class="mamacarlota-modal" onclick="closeModal()">
        <img class="mamacarlota-modal-content">
        <div class="mamacarlota-modal-caption"></div>
    </div>

    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <div class="col s12 cards-container">
                    {% for image in site.static_files %}
                        {% if image.path contains 'images/accessories' %}
                            <div class="card picture">
                                <div class="card-image">
                                    <img class="mamacarlota-img" src="{{ site.baseurl }}{{ image.path }}" alt="{{site.ref}}: {{forloop.index}}" onclick="openModal(this)">
                                </div>
                            </div>
                            <div>{{site.ref}}: {{forloop.index}}</div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="flex-row">
        <img class="logo" src="/images/logo.png" alt="Mamacarlota logo" />
    </div>
    <br>

</div>