---
layout: default
title: Boy
titleTag: Niño
id: boy
subset: boy
permalink: /catalogo/nino
---

<div class="catalog boy">

    <div class="section background-mask no-pad-bot white-text">
        <header class="container center">
            <br><br><br>
            <h1 class="header lucemita">
                {{site.boy.title}}
            </h1>
            <h2 class="light">{{site.boy.subtitle}}</h2>
            <br><br>
        </header>
    </div>

    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <div class="col s12 cards-container">
                    {% for image in site.static_files %}
                        {% if image.path contains 'images/boy' %}
                            <div class="card picture">
                                <div class="card-image">
                                    <img class="materialboxed" src="{{ site.baseurl }}{{ image.path }}" alt="img-{{img.url}}">
                                </div>
                            </div>
                            <div>{{site.ref}}: {{forloop.index}}</div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="flex-row">
        <img class="logo" src="/images/logo.png" alt="Mamacarlota logo" />
    </div>
    <br>

</div>