---
layout: default
title: Swimwear
titleTag: Ropa de baño
id: swimwear
subset: swimwear
permalink: /catalogo/ropa-de-bano
---

<div class="catalog swimwear">

    <div class="section background-mask no-pad-bot white-text">
        <header class="container center">
            <br><br><br>
            <h1 class="header lucemita">
                {{site.swimwear.title}}
            </h1>
            <h2 class="light">{{site.swimwear.subtitle}}</h2>
            <br><br>
        </header>
    </div>

    <div class="section no-pad-bot">
        <div class="container">
            <div class="row">
                <div class="carousel">
                    {% for image in site.static_files %}
                        {% if image.path contains 'images/swimwear' %}
                            <div class="carousel-item">
                                <img src="{{ site.baseurl }}{{ image.path }}" alt="img-{{img.url}}">
                                <span>{{site.ref}}: {{forloop.index}}</i></span>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="flex-row space-between hide-on-med-and-up">
                    <img class="opacity-3 move-left" onclick="$('.carousel').carousel('prev');" src="/images/swipe-left.png" alt="Swipe-Left"/>
                    <span class="opacity-3">{{site.help.slice}}</span>
                    <img class="opacity-3 move-right" onclick="$('.carousel').carousel('next');" src="/images/swipe-right.png" alt="Swipe-Right"/>
                </div>
            </div>
        </div>
    </div>

    <div class="flex-row">
        <img class="logo" src="/images/logo.png" alt="Mamacarlota logo" />
    </div>
    <br>

</div>