<div class="navbar-fixed">
    <nav class="white">
        <div class="nav-wrapper container">
            <a href="{{site.baseurl}}/{{ page.language }}/" class="hide-on-large-only"><img src="/images/logo-text.png" class="brand-logo mobile" alt="Mamacarlota logo"></a>
            <a href="{{site.baseurl}}/{{ page.language }}/" class="hide-on-med-and-down"><img src="/images/logo-text.png" class="brand-logo" alt="Mamacarlota logo"></a>
            {% assign current = page.id | downcase %}
            <ul class="right hide-on-med-and-down black-text">
                <li {% if current == 'home' %} class="active" {% endif %}>
                    <a href="{{site.baseurl}}/{{ page.language }}/">{% t 'home.title_tab' %}</a>
                </li>
                <li {% if current == 'catalog' %} class="active" {% endif %}>
                    <a href="{{ site.baseurl }}/{{ page.language }}/{% t 'catalog.url' %}">{% t 'catalog.title_tab' %}</a>
                </li>
            </ul>
            <a href="#" data-activates="mobile-menu" class="button-collapse">
                <i class="material-icons">menu</i>
            </a>
            <ul class="side-nav" id="mobile-menu">
                <li {% if current == 'home' %} class="active" {% endif %}>
                    <a href="{{site.baseurl}}/{{ page.language }}/">{% t 'home.title_tab' %}</a>
                </li>
                <li {% if current == 'catalog' %} class="active" {% endif %}>
                    <a href="{{ site.baseurl }}/{{ page.language }}/{% t 'catalog.url' %}">{% t 'catalog.title_tab' %}</a>
                </li>
            </ul>
        </div>
    </nav>
</div>